* {
  font-family: 'Comfortaa', cursive;

}

input, button {
  outline: none;
}


h1 {
  font-size: 46px;
}


.hidden {
    display:none;

}

.url-title-error {
  color: red;
}

.myList{ 
    list-style-type: none; 
    
}

.display {
text-align: center
}

.position {
  position: relative;
  left: -20px;
  
  
}
.filter-style {
  margin-right: 6px;
  margin-bottom: 19px;
  
}

.style-form {
  box-sizing: border-box;
  width: 50%;
  /* border:1px solid #7892c2; */
  -moz-border-radius:28px;
	-webkit-border-radius:28px;
  border-radius:28px;
  position: relative;
  left: 322px;
  padding-top: 10px;
  padding-bottom: 10px;

 
 

}

.form-display {
  display: block;
  position: relative;
  left: 182px;
  /* -moz-border-radius:28px;
	-webkit-border-radius:28px; */
  border-radius: 28px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 250px;
  height: 20px;
  font-size: 15px;
 

  
}



.rating-style {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  left: 34px;
}

.button-style {
  margin-bottom: 18px;
  margin-top: 15px;


  background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:13px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button-style:hover {
  background-color:#476e9e;
}

.button-style-inside:hover {
  background-color: #476e9e
}

.button-style-inside {
  margin-bottom: 14px;
  margin-top: 18px;


  background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
}

.border-style {
  background-color: grey;

}

.new-bookmarks {
  /* border: .5px solid #476e9e; */
  border-radius: 18px; 
  border-width: 2px;
  margin-left: 220px;
  margin-right: 220px;
  padding-bottom: 20px;
  padding: 10px;
  
  
  position: relative;
  top: 7px;
  right: -134px;
  width: 42%;
  height: 100%;
  background-color: #f5f9fc; 
  color:rgba(0, 0, 0, 0.88)
  
}





/* .style-new-bookmarks {
  border: 1px solid #7892c2;
  border-radius: 9px; 
  border-width: 3px;
  margin-left: 220px;
  margin-right: 220px;
  padding-bottom: 20px;
  
  
} */
.style-submit-button {
  border-radius: 8px;
  position: relative;
  right: -261px;
}

h1 {
  margin-bottom: 20px;
  margin-top: 40px;

}
  
//


* {
  box-sizing: border-box;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}